.minutes-page {
  line-height: 1.4rem;

  .container {
    margin: 0 auto;
    max-width: 600px;
  }

  h2 {
    margin-top: 2.4rem;
    line-height: 2.2rem;
  }

  p {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .larger {
    font-size: 1.4rem;
  }

  .bold {
    font-weight: bold;
  }

  .indent {
    text-indent: 2rem;
  }

  .center {
    text-align: center;
  }

  .italic {
    font-style: italic;
  }

  .note {
    background-color: #efcc8d;
    padding: 1rem;
  }

  .light-note {
    background-color: #f0dab1;
    padding: 1rem;
  }

  details {
    padding: 0.5rem 0.5rem 0;
    max-width: 600px;
    margin: 2rem auto 0;
  }

  summary {
    font-weight: bold;
    margin: -0.5rem -0.5rem 0;
    padding: 0.5rem;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  details[open] {
    padding: 0.5rem;
  }

  details[open] summary {
    margin-bottom: 0.5rem;
  }

  .move-to-right {
    display: flex;
    justify-content: flex-end;

    p {
      text-align: left;
    }
  }

  .align-right {
    text-align: right;
  }
}
