/*RESET*/
/*
html, body, h1, h2, h3, h4, h5, h6, p, a, {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
*/
/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family:  "Times New Roman", serif;
	background: #38601f; /* hsl(97, 51%, 25%) */
	color: #000;
	background-image: url(pictures/hopewell_jrc_2016_img1412_cropped.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    margin:0;
}

a {
	color:  #439c16; /* hsl(100, 75%, 35%) */
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #7fc752; /* hsl(97, 51%, 55%) */
}
/*
img {
	width: 100%;
}
*/
IMG.lf {
	 FLOAT: left; vertical-align: top; MARGIN-RIGHT: 10px; MARGIN-TOP: 5px; width: auto;
}

IMG.rt {
	 FLOAT: right; vertical-align: top; MARGIN-LEFT: 10px; MARGIN-TOP: 5px; width: auto;
}

header {
	background:  #559230; /* hsl(97, 51%, 38%) */
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	z-index: 100;
}

#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(../img/logo.png) no-repeat center;
	display: block;
}

nav {
    font-family: "Helvetica", "Arial",  sans-serif;
	float: center;
	padding: 20px;	
    max-width: 1024;
}
nav a{
    	color:  #000000;  /* hsl(0, 0%, 0%) */
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #559230 url(menu-icon.png) center; /* hsl(97, 51%, 38%) */
}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

nav ul {

	list-style: none;

}

nav li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #62401e; /* hsl(30, 53%, 25%) */

}

section {

	margin: 80px auto 40px;
	position: relative;
	padding: 20px;
	max-width: 1024px;
	background: #fffce0;
}

h1 {

	font-size: 2em;
    font-family: "Helvetica", "Arial",  sans-serif;
	color: #000000;
	line-height: 1.3em;
	margin: 20px 0 ;

}
h2 {

	font-size: 1.5em;
    font-family: "Helvetica", "Arial",  sans-serif;
	color: #000000;
	line-height: 1.15em;
	margin: 20px 0 ;
}
h3{

	font-size: 1.25em;
    font-family: "Helvetica", "Arial",  sans-serif;
	color: #000000;
	line-height: 1.1em;
	margin: 20px 0 ;
}
h4{

	font-size: 1em;
    font-family: "Helvetica", "Arial",  sans-serif;
	color: #000000;
	line-height: 1em;
}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

/*MEDIA QUERY*/
@media only screen and (max-width : 800px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background:  #53b123; /*hsl(100, 67%, 42%)*/
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 150px;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}
    
.table_grid {
    border-collapse: collapse;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	background-color: transparent; 
	border-color: black; 
}
.td_grid_dark {
    border-collapse: collapse;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	background-color: #53b123; 
	border-color: black; 
}
.td_grid {
    border-collapse: collapse;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	background-color: transparent; 
	border-color: black; 
}